<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- favicon -->
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">

    <title>Admin Panel</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- CSS -->
    <link th:href="@{/css/admin.css}" rel="stylesheet"/>

</head>

<div class="container">
    <!---------------------------------------- Side Nav bar starts --------------------------------------------->
    <div class="navigation">
        <ul>
            <li>
                <a>
                   <span class="title" style="margin-left: 54px;"> <img th:src="@{/images/Website-logo.png}" src="#" width="150" height="60"
                                                                        alt="what to research"></span>
                </a>
            </li>
            <li>
                <a th:href="@{/admin}" href="#">
                    <span class="icon"><ion-icon name="home-outline"></ion-icon></span>
                    <span class="title">Dashboard</span>
                </a>
            </li>
            <li>
                <a th:href="@{/admin/user}" href="#">
                    <span class="icon"><ion-icon name="person-circle-outline"></ion-icon></span>
                    <span class="title">Users</span>
                </a>
            </li>

            <li>
                <a th:href="@{/admin/projects}" href="#">
                    <span class="icon"><ion-icon name="copy-outline"></ion-icon></span>
                    <span class="title">Projects</span>
                </a>
            </li>

            <li>
                <a th:href="@{/admin/supervisors}" href="#">
                    <span class="icon"><ion-icon name="people-circle-outline"></ion-icon></span>
                    <span class="title">Supervisors</span>
                </a>
            </li>

            <li>
                <a th:href="@{/admin/messages}">
                    <span class="icon"><ion-icon name="chatbox-outline"></ion-icon></span>
                    <span class="title">Messages</span>
                </a>
            </li>
            <li>
                <a href="#" onclick="document.getElementById('logout-form').submit()">
                    <span class="icon"><ion-icon name="log-out-outline"></ion-icon></span>
                    <span class="title">Sign Out</span>
                </a>

                <form id="logout-form" method="post" th:action="@{/logout}">
                    <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
                </form>
            </li>
        </ul>
    </div>
    <!----------------------------- Side Nav bar Ends ------------------------------------------>

    <!--     Main Section -->

    <div class="main">
        <div class="topbar">
            <div class="toggle">
                <ion-icon name="grid-outline"></ion-icon>
            </div>

            <br>
            <br>
            <br>
            <br>
            <br>

            <div class="cardbox" style="height: 1000px; padding-left: 50px;">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4">
                            <h1>Add Project</h1>
                            <br>
                            <div class="form">
                                <form class="add-form" th:action="@{/admin/supervisors}" th:object="${supervisor}" method="post" enctype="multipart/form-data">


                                    <div>
                                        <label>Name:</label>
                                        <input type="text" th:field="*{name}" required>
                                    </div>

                                    <div>
                                        <label>Email Address:</label>
                                        <textarea th:field="*{email}" required></textarea>
                                    </div>

                                    <div>
                                        <label>Specialisation:</label>
                                        <textarea th:field="*{specialisation}" required></textarea>
                                    </div>






                                    <button type="submit" class="btn btn-info">Save</button>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Script -->
<script type="module"
        src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

<script th:src="@{/js/admin.js}"></script>


</html>