<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Message Details</title>
  <!-- CSS -->
  <link th:href="@{/css/admin.css}" rel="stylesheet"/>
</head>
<body>
<div style="display: flex; justify-content: center; align-items: center; height: 65vh;">


  <table th:each="project : ${project}">

    <tr>
      <th>Description</th>
      <td th:text="${project.description}"></td>
    </tr>

    <tr>
      <th>Supervisor</th>
      <td th:each="supervisor : ${project.supervisor}" th:text="${supervisor.name}"></td>
    </tr>

    <tr>
      <th>Type</th>
      <td th:each="type : ${project.types}" th:text="${type.name}"></td>
    </tr>


<tr>
  <th>Methodology</th>
  <td th:each="methodology:${project.projectMethodology}"
         th:text="${methodology.methodology_type}"></td>
  </tr>


    <tr>
      <th>Programming Language</th>
      <td>
        <span th:each="language, iterStat : ${project.preferredLanguages}"
              th:text="${iterStat.first} ? ${language.language} : ${', ' + language.language}"></span>
      </td>

    </tr>

<tr>
  <th>Skill Level</th>
    <td th:each="level:${project.programmingSkill}"
        th:text="${level.skillLevel}"></td>
</tr>
  </table>
</div>

</body>
</html>