<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- favicon -->
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">

    <title>What to Research</title>

    <!-- CSS -->
    <link th:href="@{/css/admin.css}" rel="stylesheet"/>

</head>

<div class="container">
    <!---------------------------------------- Side Nav bar starts --------------------------------------------->
    <div class="navigation">
        <ul>
            <li>
                <a>
                   <span class="title" style="margin-left: 54px;"> <img th:src="@{/images/Website-logo.png}" src="#"
                                                                        width="150" height="60"
                                                                        alt="what to research"></span>
                </a>
            </li>
            <li>
                <a th:href="@{/}" href="#">
                    <span class="icon"><ion-icon name="arrow-back-circle-outline"></ion-icon>
                        </ion-icon></span>
                    <span class="title">Back</span>
                </a>
            </li>
            <li>
                <a th:href="@{/admin/user}" href="#">
                    <span class="icon"><ion-icon name="person-circle-outline"></ion-icon></span>
                    <span class="title">Users</span>
                </a>
            </li>

            <li>
                <a th:href="@{/admin/projects}" href="#">
                    <span class="icon"><ion-icon name="copy-outline"></ion-icon></span>
                    <span class="title">Projects</span>
                </a>
            </li>

            <li>
                <a th:href="@{/admin/supervisors}" href="#">
                    <span class="icon"><ion-icon name="people-circle-outline"></ion-icon></span>
                    <span class="title">Supervisors</span>
                </a>
            </li>

            <li>
                <a th:href="@{/admin/messages}">
                    <span class="icon"><ion-icon name="chatbox-outline"></ion-icon></span>
                    <span class="title">Messages</span>
                </a>
            </li>
            <li>
                <a href="#" onclick="document.getElementById('logout-form').submit()">
                    <span class="icon"><ion-icon name="log-out-outline"></ion-icon></span>
                    <span class="title">Sign Out</span>
                </a>

                <form id="logout-form" method="post" th:action="@{/logout}">
                    <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
                </form>
            </li>
        </ul>
    </div>
    <!----------------------------- Side Nav bar Ends ------------------------------------------>

    <!---------------------------------------------- Main Content ----------------------------------------------------------->

    <div class="main">
        <br>
        <br>
        <br>
        <br>
        <br>

        <div class="cardBox">
            <div class="container">
                <div class="row">
                    <h1>Message Detail</h1>

                    <br>
                    <br>

                    <table>
                        <tr>
                            <th>Id</th>
                            <td th:text="${messages.id}"></td>
                        </tr>
                        <tr>
                            <th>Name</th>
                            <td th:text="${messages.name}"></td>
                        </tr>
                        <tr>
                            <th>Email</th>
                            <td th:text="${messages.email}"></td>
                        </tr>
                        <tr>
                            <th>Message</th>
                            <td th:text="${messages.message}"></td>
                        </tr>

                    </table>

                </div>
            </div>
        </div>
    </div>
</div>

<!-- Ionic Icons -->
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

</html>
