
/************************************Global CSS variables ***********************************************/
:root {
  /******************** colors *******************************/

  --violet: rgb(185, 117, 209);
  --purple-haze: hsl(267, 27%, 22%);
  --dark-purple: rgb(29, 7, 42);
  --white: hsla(0, 0%, 100%, 1);
  --gray: hsla(0, 0%, 100%, 0.08);
  --dark-gray: hsla(0, 0%, 100%, 0.03);
  --light-gray: hsla(0, 0%, 100%, 0.12);
  --lighter-gray: hsla(0, 0%, 100%, 0.7);
  --raisin-black: hsla(216, 14%, 14%, 1);
  --black-coral: hsla(220, 12%, 43%, 1);

  /****************** spacing *******************************/
  --section-padding: 90px;

  /*********** box shadow *******************/

  --shadow-1: 0 0 20px hsla(216, 14%, 14%, 0.05);
  --shadow-2: 0 0 0 0.05rem hsla(214, 88%, 27%, 0.08), 0 0 1.25rem hsla(216, 14%, 14%, 0.06);
  --shadow-3: 0 0 1.25rem hsla(216, 14%, 14%, 0.04);

  /************ border radius ********/
  --radius-circle: 50%;
  --radius-pill: 100px;
  --radius-10: 10px;
  --radius-8: 8px;
  --radius-6: 6px;

  /********* transition *****************/
  --transition-1: 0.25s ease;
  --transition-2: 0.5s ease;
  --transition-3: 0.3s ease-in-out;

}
/**************************************************************************************************/


/*-----------------------------------*\
             REUSED STYLE
\*-----------------------------------*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a,
img,
span,
input,
button,
.social-media-list {
  display: block;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  height: auto;
}

input,
button {
  background: none;
  border: none;
  font: inherit;
}

input {
  width: 100%;
}

button {
  cursor: pointer;
}

ion-icon {
  pointer-events: none;
}

address {
  font-style: normal;
}

html {
  font-family: 'Manrope', sans-serif;
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  background-color: var(--white);
  color: var(--black-coral);
  font-size: 1.6rem;
  line-height: 1.7;
}

body.nav-active {
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: hsl(0, 0%, 98%);
}

::-webkit-scrollbar-thumb {
  background-color: hsl(0, 0%, 80%);
}

::-webkit-scrollbar-thumb:hover {
  background-color: hsl(0, 0%, 70%);
}


.container {
  padding-inline: 16px;
}

.social-media-list {
  display: flex;
  align-items: center;
  gap: 12px;
}

.social-media-link {
  font-size: 2rem;
  transition: var(--transition-1);
}

.social-media-link:is(:hover, :focus-visible) {
  transform: translateY(-3px);
}

.section {
  padding-block: var(--section-padding);
}

.bg-image {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.h1,
.h2,
.h3,
.h4,
.h5 {
  color: var(--purple-haze);
  font-weight: 700;
  line-height: 1.3;
}

.h1 {
  font-size: calc(2.7rem + 1.38vw);
}

.h2 {
  font-size: calc(2.6rem + .66vw);
}

.h3 {
  font-size: 2.2rem;
}

.h4 {
  font-size: 1.9rem;
}

.h5 {
  font-size: 1.7rem;
}

.btn {
  color: var(--white);
  font-weight: 700;
  border: 2px solid var(--white);
  max-width: max-content;
  padding: 12px 28px;
  border-radius: var(--radius-pill);
  transition: var(--transition-1);
  will-change: transform;
}

.btn:is(:hover, :focus-visible) {
  transform: translateY(-4px);
}

.btn-primary,
.btn-outline:is(:hover, :focus-visible) {
  background-color: var(--white);
  color: var(--purple-haze);
}

.loginLink {
  background-color: white;
  border-radius: 100px;
  font-weight: 700;
  border: 2px solid white;
  max-width: max-content;
  transition: 0.25s ease;
  padding: 10px 15px;
  will-change: transform;
}

.img-holder {
  aspect-ratio: var(--width) / var(--height);
  background-color: var(--lighter-gray);
  overflow: hidden;
}

.img-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section-subtitle {
  font-size: 1.5rem;
  text-transform: uppercase;
  color: var(--violet);
  font-weight: 700;
  margin-block-end: 16px;
}

.grid-list {
  display: grid;
  gap: 25px;
}


/*****************************-----------------------------------*************************************\
                                             HEADER
                                \*-----------------------------------*/

.header .btn {
  display: none;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding-block: 20px;
  box-shadow: var(--shadow-1);
  z-index: 4;
}

.header.active {
  background-color: var(--white);
  position: fixed;
  animation: slideIn 0.5s ease forwards;
}

@keyframes slideIn {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0);
  }
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}

.header.active .web-logo{
  display: none;
}

.header .web-logo {
  display: block;
}

.nav-open-btn {
  font-size: 3.5rem;
  color: var(--white);
}

.header.active .nav-open-btn {
  color: var(--purple-haze);
}

.navbar {
  position: fixed;
  top: 0;
  left: -300px;
  background-color: var(--dark-purple);
  color: var(--white);
  max-width: 300px;
  width: 100%;
  height: 100vh;
  padding: 30px;
  padding-block-end: 40px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  z-index: 2;
  visibility: hidden;
  transition: var(--transition-3);
}

.navbar.active {
  visibility: visible;
  transform: translateX(300px);
}

.navbar-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-close-btn {
  background-color: var(--gray);
  color: var(--white);
  font-size: 2rem;
  padding: 6px;
  border-radius: var(--radius-circle);
  transition: var(--transition-1);
}

.nav-close-btn ion-icon {
  --ionicon-stroke-width: 50px;
}

.nav-close-btn:is(:hover, :focus-visible) {
  background-color: var(--lighter-gray);
}

.navbar-list {
  margin-block-end: auto;
}

.navbar-link {
  font-weight: 700;
  padding-block: 6px;
}

.contact-link {
  transition: var(--transition-1);
}

.contact-link:is(:hover, :focus-visible) {
  color: var(--violet);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--raisin-black);
  pointer-events: none;
  opacity: 0;
  transition: var(--transition-1);
}

.overlay.active {
  pointer-events: all;
  opacity: 0.8;
}

/*-----------------------------------*\
             End OF HEADER
\*-----------------------------------*/


/*-----------------------------------*\
              HOME PAGE
\*-----------------------------------*/

.hero {
  padding-block-start: calc(var(--section-padding) + 70px);
  text-align: center;
}

.hero .container {
  display: grid;
  gap: 70px;
}

.hero-title {
  color: var(--white);
}

.hero-text {
  font-size: 1.8rem;
  color: var(--white);
  margin-block: 24px 36px;
}

.btn-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.hero-slider,
.hero-card {
  position: relative;
}

.hero-card .play-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--white);
  color: var(--purple-haze);
  font-size: 2rem;
  padding: 25px;
  border-radius: var(--radius-circle);
  transition: var(--transition-1);
  animation: pulse 2s ease infinite;
}

.hero-card .play-btn:is(:hover, :focus-visible) {
  color: var(--violet);
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 var(--lighter-gray);
  }

  75% {
    box-shadow: 0 0 0 20px transparent;
  }
}

.hero .slider-inner {
  border-radius: var(--radius-10);
  overflow: hidden;
}

.hero .slider-container {
  position: relative;
  display: flex;
  align-items: flex-start;
  gap: 8px;
  transition: var(--transition-2);
}

.hero .slider-item {
  min-width: 100%;
  width: 100%;
  border-radius: var(--radius-10);
  overflow: hidden;
}

.hero .slider-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--lighter-gray);
  color: var(--purple-haze);
  font-size: 2rem;
  padding: 12px;
  border-radius: var(--radius-circle);
  transition: var(--transition-1);
}

.hero .slider-btn:is(:hover, :focus-visible) {
  background-color: var(--white);
}

.hero .slider-btn.prev {
  left: 20px;
}

.hero .slider-btn.next {
  right: 20px;
}


/*-----------------------------------*\
            ABOUT PAGE
\*-----------------------------------*/

.service {
  text-align: center;
}

.service .section-title {
  margin-block-end: 50px;
}

.service-card {
  padding: 40px;
  box-shadow: var(--shadow-2);
  border-radius: var(--radius-6);
  height: 100%;
}

.service-card .card-icon {
  width: 60px;
  height: 60px;
  background-color: var(--violet);
  display: grid;
  place-items: center;
  color: var(--white);
  font-size: 2.5rem;
  border-radius: var(--radius-circle);
  margin-inline: auto;
}

.service-card .card-icon ion-icon {
  --ionicon-stroke-width: 50px;
}

.service-card .card-title {
  margin-block: 16px 10px;
}

.service-card .btn-text {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  margin-block-start: 10px;
  color: var(--violet);
  transition: var(--transition-1);
}

.service-card .btn-text:is(:hover, :focus-visible) {
  opacity: 0.9;
}


/*-----------------------------------*\
             CONTACT FORM
\*-----------------------------------*/
#contact form{
  max-width: 70rem;
  text-align: center;
  margin: 1rem auto 3rem;
}

#contact form .input-box{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

}

#contact form .input-box input,
#contact form textarea{
  width: 100%;
  padding: 1.5rem;
  font-size: 1.6rem;
  color: var(--dark-purple);
  background: var(--white);
  border-radius: .8rem;
  margin:.7rem 0;
  font-family: 'Manrope', sans-serif;
}

#contact form .input-box input{
  width: 49%;
}

#contact form textarea{
  resize: none;
}

#contact form .btn{
  margin-top: 2rem;
  cursor:pointer ;
}

.btn{
  display: inline-block;
  padding: 1rem 2.8rem;
  background: var(--white);
  border-radius: 4rem;
  box-shadow: 0 0 1rem var(--white);
  font-size: 1.6rem;
  color: var(--dark-purple);
  letter-spacing: .1rem;
  font-weight: 600;
  transition: .5s ease;
}

.btn:hover{
  box-shadow: none;
}



/*-----------------------------------*\
                FOOTER
\*-----------------------------------*/

.footer {
  background-color: var(--dark-purple);
  padding-block: 60px 100px;
  color: var(--lighter-gray);
}

.footer-logo .footer-text {
  margin-block: 20px;
}

.footer .social-media-list {
  color: var(--white);
}

.footer-list-title {
  color: var(--white);
  margin-block-end: 16px;
}

.footer-link {
  padding-block: 4px;
  transition: var(--transition-1);
}

.footer-link:is(:hover, :focus-visible) {
  color: var(--violet);
}

.input-wrapper {
  position: relative;
  margin-block-start: 25px;
}

.input-field {
  background-color: var(--dark-gray);
  color: var(--lighter-gray);
  padding: 12px 16px;
  border: 1px solid ;
  border-radius: var(--radius-6);
  box-shadow: var(--shadow-3);
  outline: none;
}

.input-field::placeholder {
  color: inherit;
}

.submit-btn {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  border-radius: 0 var(--radius-6) var(--radius-6) 0;
  background-color: var(--violet);
  color: var(--white);
  padding-inline: 24px;
  font-weight: 700;
}

/* Center align the social media list and footer text */
.centered-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Add this line to vertically center */
  text-align: center;
  margin-top: 30px;
}

.social-media-link i {
  color: var(--white);
  font-size: 40px;
}




