<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!--Meta tags-->
  <title>Research Interests Tool</title>
  <meta name="title" content="Research Interests Tool">
  <meta name="description" content="Explore a tool to scope out your research interests and find new areas of study.">


  <!-- favicon -->
  <!--  <link rel="shortcut icon" href="./favicon.ico" type="image">-->
  <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">


  <!--Box icons-->
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>


  <!-- google font link -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap" rel="stylesheet">

  <!--CSS link-->
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/responsive.css">
  <link rel="stylesheet" href="css/form.css">

</head>



<body>


<!-------------------------------------------HEADER------------------------------------>
<header class="header" data-header>
  <div class="container">
    <!-- The website logo for PC-->
    <a th:href="@{/}" class="logo">
      <img src="images/Website-logo.png" width="200" height="100" alt="what to research" class="web-logo">
    </a>
    <!-- The Navigation Bar-->
    <nav class="navbar" data-navbar>
      <div class="navbar-top">
        <!-- The logo for the hamburger navigation on mobile phones-->
        <a th:href="@{/}" class="logo">
          <img src="images/Website-logo.png" width="180" height="24" alt="what to research">
        </a>
        <!-- closing button to close the hamburger navigation on mobile-->
        <button class="nav-close-btn" aria-label="close menu" data-nav-toggler>
          <ion-icon name="close-outline" aria-hidden="true"></ion-icon>
        </button>
      </div>

      <ul class="navbar-list">
        <li><a th:href="@{/}" class="navbar-link">Home</a></li>
        <li><a th:href="@{/#about}" class="navbar-link">About</a></li>
        <li><a href="#" class="navbar-link">How It Works</a></li>
        <li><a href="#" class="navbar-link">Features</a></li>
        <li><a th:href="@{/#contact}" class="navbar-link">Contact</a></li>
        <!--Space-->
        <li></li>
        <li></li>
        <!----Sign-up, Login, Logout----->
        <li  sec:authorize="isAnonymous()"><a th:href="@{/login}" class="navbar-link loginLink" style="color: black;margin-bottom: 10px;">Log
          in</a></li>
        <li sec:authorize="isAnonymous()"><a th:href="@{/register}" class="navbar-link loginLink" style="color: black; ">Sign Up</a></li>

        <li class="nav-item" sec:authorize="isAuthenticated()">
          <a class="navbar-link" th:href="@{/profile}"> <ion-icon name="person-circle-outline" style="font-size: 2em;" ></ion-icon></a>
        </li>

        <!--admin page -->
        <li class="nav-item" sec:authorize="hasAuthority('ADMIN')">
          <a class="navbar-link" th:href="@{/admin}">Admin Panel </i></a>
        </li>


        <li sec:authorize="isAuthenticated()">
          <form method="post" th:action="@{/logout}">
            <button type="submit" class="navbar-link loginLink" style="color: black; display: flex; align-items: center;">
              <ion-icon name="log-out-outline" style="margin-right: 5px;"></ion-icon>
              Logout
            </button>
          </form>
        </li>

      </ul>

      <!--contact info on the hamburger nav bar-->
      <div class="wrapper">
        <a href="mailto:info@email.com" class="contact-link">raheebabdulsalam@hotmail.com</a>
      </div>
      <!--Social media icons on the hamburger nav bar -->
      <ul class="social-media-list">
        <li><a href="#" class="social-media-link">
          <ion-icon name="logo-twitter"></ion-icon>
        </a></li>
        <li><a href="#" class="social-media-link">
          <ion-icon name="logo-facebook"></ion-icon>
        </a></li>
        <li><a href="#" class="social-media-link">
          <ion-icon name="logo-instagram"></ion-icon>
        </a></li>
      </ul>
    </nav>

    <!--Three dots icon to Open the hamburger nav bar on mobile devices-->
    <button class="nav-open-btn" aria-label="open menu" data-nav-toggler>
      <ion-icon name="menu-outline" aria-hidden="true"></ion-icon>
    </button>
    <div class="overlay" data-nav-toggler data-overlay></div>
  </div>
</header>

<!-------------------------------------End of Header---------------------------------------------->

<!-- Main Content -->
<section class="section hero bg-image" aria-label="home" style="background-image: url('/images/background.png')">

  <div class="login-container">
    <div class="wrapper">
      <div class="title">User Profile</div>
      <form method="post" th:action="@{/edit-profile}">

        <!-- Username -->
        <div class="field">
          <input  type= "text" name="username" th:value="${user.firstName + ' ' + user.lastName}" required>
          <label>Username</label>
        </div>

        <!-- Student Number -->
        <div class="field">
          <input type="text"  name="studentNumber" th:field="*{user.studentNumber}" required>
          <label>Student Number</label>
        </div>


        <!-- Email -->
        <div class="field">
          <input type="email" name="email" th:field="*{user.email}" required>
          <label>Email Address</label>
        </div>

        <div class="field">
          <input type="submit"  value="Update Profile">
        </div>
      </form>
  </div>
  </div>
</section>

<!--------------------------------------#FOOTER----------------------------------------->
<footer class="footer">
  <div class="container grid-list">

    <!-- Footer Logo Section -->
    <div class="footer-logo">
      <a th:href="@{/}" class="logo">
        <img th:src="@{/images/Website-logo.png}" src="#" width="200" alt="what to research" class="web-logo">
      </a>
    </div>

    <!-- Footer Lists -->
    <ul class="footer-list">
      <li><p class="h4 footer-list-title">Address</p></li>
      <li><address class="footer-text"> Aston University, Aston St, Birmingham B4 7ET,<br> United Kingdom</address> </li>
    </ul>

    <ul class="footer-list">
      <li><p class="h4 footer-list-title">Learn More</p></li>
      <li><a href="#" class="footer-link">Terms of Use</a></li>
      <li><a href="#" class="footer-link">Privacy Policy</a></li>
    </ul>

    <div class="footer-list">
      <p class="h4 footer-list-title">Our Newsletter</p>
      <p class="footer-text"> Get notified when there is new projects. </p>
      <!-- Newsletter Form -->
      <form action="" class="input-wrapper">
        <input type="email" name="email_address" placeholder="Email Address" required class="input-field">
        <button type="submit" class="submit-btn">Join</button>
      </form>
    </div>

  </div>

  <!-- Social Media Icons -->
  <div class="centered-container">
    <ul class="social-media-list">
      <li><a href="#" class="social-media-link"> <i class='bx bxl-facebook-square'></i> </a> </li>
      <li> <a href="#" class="social-media-link"> <i class='bx bxl-linkedin-square'></i> </a> </li>
      <li> <a href="#" class="social-media-link"> <i class='bx bxl-instagram-alt'></i> </a> </li>
    </ul>
    <!-- Footer Text -->
    <p class="footer-text">
      &copy; 2024 Raheeb Abdulsalam. All rights reserved.
    </p>
  </div>
</footer>


<!--------------------------js link----------------------------------------->
<script src="js/script.js"></script>

<!--- ionicon for the icons in the website-->
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>

</html>