<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--Meta tags-->
    <title>What to Research</title>
    <meta name="title" content="Research Interests Tool">
    <meta name="description" content="Explore a tool to scope out your research interests and find new areas of study.">

    <!-- favicon -->
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">


    <!--Box icons-->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>


    <!-- google font link -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap" rel="stylesheet">

    <!--CSS link-->
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/form.css}">

</head>
<body>



<!-------------------------------------------HEADER------------------------------------>
<header class="header" data-header>
    <div class="container">
        <!-- The website logo for PC-->
        <a th:href="@{/}" class="logo">
            <img th:src="@{/images/Website-logo.png}" src="#" width="200" alt="what to research" class="web-logo">
        </a>
        <!-- The Navigation Bar-->
        <nav class="navbar" data-navbar>
            <div class="navbar-top">
                <!-- The logo for the hamburger navigation on mobile phones-->
                <a th:href="@{/}" class="logo">
                    <img th:src="@{/images/Website-logo.png}" src="#" width="200" alt="what to research" class="web-logo">
                </a>
                <!-- closing button to close the hamburger navigation on mobile-->
                <button class="nav-close-btn" aria-label="close menu" data-nav-toggler>
                    <ion-icon name="close-outline" aria-hidden="true"></ion-icon>
                </button>
            </div>

            <ul class="navbar-list">
                <li><a th:href="@{/}" class="navbar-link">Home</a></li>
                <li><a th:href="@{/#how-it-works}" class="navbar-link">How It Works</a></li>
                <li><a th:href="@{/#about}" class="navbar-link">Features</a></li>
                <li><a th:href="@{/#contact}" class="navbar-link">Contact</a></li>
                <!--Space-->
                <li></li>
                <li></li>
                <!----Sign-up, Login, Logout----->
                <li  sec:authorize="isAnonymous()"><a th:href="@{/login}" class="navbar-link loginLink" style="color: black;margin-bottom: 10px;">Log
                    in</a></li>
                <li sec:authorize="isAnonymous()"><a th:href="@{/register}" class="navbar-link loginLink" style="color: black; ">Sign Up</a></li>

                <!------------------------------Drop Down menu-------------------------------->
                <div class="dropdown-menu">
                    <button class="dropButton" style="color: white">
                        <ion-icon name="person-circle-outline" style="font-size: 2em;"></ion-icon>
                    </button>
                    <div class="dropdown-content">
                        <a  sec:authorize="isAuthenticated()" th:href="@{/profile}"> My Profile</ion-icon></a>
                        <a sec:authorize="hasAuthority('ADMIN')" th:href="@{/admin}">Admin Panel </i></a>
                        <a> <form sec:authorize="isAuthenticated()" method="post" th:action="@{/logout}">
                            <button type="submit" class="navbar-link loginLink" style="color: black; display: flex; align-items: center;">
                                <ion-icon name="log-out-outline" style="margin-right: 5px;"></ion-icon>
                                Logout
                            </button>
                        </form></a>
                    </div>
                </div>
                <!------------------------------End of Drop Down menu-------------------------------->
                <li><a th:href="@{/wishlist}" class="navbar-link"><ion-icon name="heart-outline" style="font-size: 30px"></ion-icon></a></li>



            </ul>

            <!--contact info on the hamburger nav bar-->
            <div class="wrapper">
                <a href="mailto:info@email.com" class="contact-link">raheebabdulsalam@hotmail.com</a>
            </div>
            <!--Social media icons on the hamburger nav bar -->
            <ul class="social-media-list">
                <li><a href="#" class="social-media-link">
                    <ion-icon name="logo-twitter"></ion-icon>
                </a></li>
                <li><a href="#" class="social-media-link">
                    <ion-icon name="logo-facebook"></ion-icon>
                </a></li>
                <li><a href="#" class="social-media-link">
                    <ion-icon name="logo-instagram"></ion-icon>
                </a></li>
            </ul>
        </nav>

        <!--Three dots icon to Open the hamburger nav bar on mobile devices-->
        <button class="nav-open-btn" aria-label="open menu" data-nav-toggler>
            <ion-icon name="menu-outline" aria-hidden="true"></ion-icon>
        </button>
        <div class="overlay" data-nav-toggler data-overlay></div>
    </div>
</header>

<!-------------------------------------End of Header---------------------------------------------->

<section class="section bg-image" aria-label="home">
    <div class="container">
        <table >
            <thead>
            <tr>
                <th>Project Title</th>
                <th>Type</th>
                <th> Methodology</th>
                <th>Recommended Languages</th>
                <th>Supervisor</th>
                <th>Actions</th>

            </tr>
            </thead>
            <tbody>
            <tr th:each="favouriteProject : ${favouriteProjects}">
                <td><strong th:text="${favouriteProject.project.projectTitle}"></strong></td>
                <td th:each="type : ${favouriteProject.project.types}" th:text="${type.name}"></td>
                <td th:each="methodology:${favouriteProject.project.projectMethodology}"
                    th:text="${methodology.methodology_type}"></td>
                <td>
                <span th:each="language, iterStat : ${favouriteProject.project.preferredLanguages}"
                      th:text="${iterStat.first} ? ${language.language} : ${', ' + language.language}"></span>
                </td>
                <td th:each="supervisor : ${favouriteProject.project.supervisor}" th:text="${supervisor.name}"></td>

                <td>
                    <form th:action="@{/wishlist/__${favouriteProject.id}__}" method="post">
                        <input type="hidden" name="_method" value="DELETE"/>
                        <button type="submit" onclick="return confirm('Are you sure you want to remove this project from your wishlist?')">
                            <ion-icon name="heart-dislike-outline"></ion-icon></ion-icon>
                        </button>
                    </form>
                </td>

            </tr>

            </tbody>
        </table>


    </div>

</section>


<!--------------------------------------#FOOTER----------------------------------------->
<footer class="footer">
    <div class="container">
        <div class="footer-items">

            <div class="footer-column">
                <a th:href="@{/}" class="logo">
                    <img th:src="@{/images/Website-logo.png}" src="#" width="180" height="24" alt="what to research">
                </a>
            </div>

            <div class="footer-column">
                <h3>Learn More</h3>
                <ul>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Terms of Use</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                </ul>
            </div>

            <div class="footer-column">
                <h3>Address</h3>
                <p>Aston University, Aston St, Birmingham B4 7ET, United Kingdom</p>
                <br>
                <div class="social-icons">
                    <a href="#" class="social-icon"><i class='bx bxl-facebook-square'></i></a>
                    <a href="#" class="social-icon"><i class='bx bxl-linkedin-square'></i></a>
                    <a href="#" class="social-icon"> <i class='bx bxl-instagram-alt'></i></a>
                </div>
            </div>

        </div>
    </div>

    <p class="copyright">
        &copy; 2024 Raheeb Abdulsalam. All rights reserved.
    </p>
</footer>
<!--------------------------js link----------------------------------------->
<script th:src="@{js/script.js}"></script>

<!--- ionicon for the icons in the website-->
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</body>

</html>
